<form action='/projects' method='post'>
 Title:<input type='text' name='project[title]' id='title'><br>
 Description:<input type='text' name='project[description]' id='description'><br>
 Type:<input type='text' name='project[project_type]' id='project_type'><br>
 Location:<input type='text' name='project[project_site]' id='project_site'><br>
 Solicitation Number:<input type='text' name='project[solicitation_number]'><br>
 Amount:<input type='text' name='project[contract_amount]'><br>
 General Contractor:<input type='text' name='project[general_contractor]'><br>
 Contract Number:<input type='text' name='project[contract_number]'><br>
 Start Date:<input type='text' name='project[start_date]'><br>
 Substantial Completion Date:<input type='text' name='project[substantial_completion_date]'><br>
 Final Completion Date:<input type='text' name='projectc[final_completion_date]'><br>
 <input type='submit' value='Save'>
 </form>