<h5>Welcome, <%=current_user.username%></h5>
<a href='/contractors'>View contractors</a><br></br>

<a href='/contractors/new'>Add Contractor</a><br></br>

<a href='/projects'>View all Projects</a><br></br>

<a href='/projects/new'>Add new Project</a><br></br>

<a href='/logout'>Log out</a>