<form action='/contractors/new' method='post'>
Name:<input type='text' name='contractor[name]' id='name'><br></br>
Company Name:<input type='text' name='contractor[company_name]' id='company_name'><br></br>
Address Line1:<input type='text' name='contractor[company_address]' id='company_address'><br></br>
Address Line2:<input type='text' name='contractor[company_address]' id='company_address'><br></br>
Address Line3:<input type='text' name='contractor[company_address]' id='company_address'><br></br>
Ssn:<input type="text" name="contractor[ssn]" id='ssn'><br></br>
 Certification:<input type="text" name="contractor[certification]" id='certification'><br></br>

 <input type="submit" name="Save">
 </form>